doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  body
    -var chkValue = "登入";
    -var chkHref ='/login';
    -var regLink ='<a href="/reg">注册</a>';
    if user
        -chkValue = "登出";
        -chkHref = '/logout';
        -regLink ='';
    nav.navbar.navbar-inverse(role="navigation").
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Microblog</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/">首页</a>
            </li>
            <li>
                <a href =#{chkHref}>#{chkValue}</a>
            </li>
            <li>
                !{regLink}
            </li>
        </ul>
      </div>
  div.container#container
    block content
    hr
    footer.
      <p>
        <a href="http://www.byvoid.com/" target="_blank">BYVoid</a>2012
      </p>
      
  script(src='/bootstrap/js/jquery-2.1.0.js')
  script(src='/bootstrap/js/bootstrap.js')